body{
  max-width: 100vw;
  height: 10vh;
 
}

header{
  background-color: rgb(155, 18, 0);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 50px;
  color: white;
}

button{
  font-size: 23px;
  border-radius: 20%;
  background-color: salmon;
  margin-left: 5%;
}

.boxes{ 
  flex-wrap: wrap-reverse;
}

.box-one{
  height: 30vh;
  width: 30vw;
  background-color: rgb(211, 52, 35);
  font-size: 20px;
  border-radius: 10px;
  margin-left: 2%;
  margin-bottom: 2%;
}

.box-two{
  height: 30vh;
  width: 30vw;
  background-color: rgb(211, 52, 35);
  font-size: 20px;
  border-radius: 10px;
  margin-left: 2%;
  margin-bottom: 2%;
}

.box-three{
  height: 30vh;
  width: 30vw;
  font-size: 20px;
  background-color: rgb(211, 52, 35);
  border-radius: 10px;
  margin-left: 2%;
}

.box-four{
  height: 50vh;
  width: 30vw;
  background-color: rgb(159, 248, 117);
  border-radius: 10px;
  margin-top: 2%;
}





